<div class="card">
    <div class="image-data">
        <div class="background-image"></div>
        <div class="publication-details">
            <a href="#" class="author"><i class="fas fa-user"></i>kmaadteck code</a>
            <span class="date"><i class="fas fa-calendar-alt"></i> Juin 22, 2020</span>
        </div>
    </div>
    <div class="post-data">
        <h1 class="title">Artificial intelligence </h1>
        <h2 class="subtitle">A peek at lies ahead</h2>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, nam voluptas! Illum, numquam. Ut consequatur corrupti, quia assumenda inventore accusamus repellendus non. Deserunt nulla cum, aliquam et porro nostrum unde?</p>
        <div class="cta">
            <a href="#">Read more&rarr;</a>
        </div>
    </div>
</div>
