/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gradient-color: linear-gradient( to right bottom, rgba(255, 119, 48, 0.8) 0%, rgba(255, 185, 0, 0.8) 100%);
}

html {
    font-size: 10px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: #333;
    background-color: #eee;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}
